* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-weight: 300;
}

/* ===============================COMMON========================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    background-color: #2e80ce;
    min-width: 205px;
    line-height: 60px;
    font-size: 1.8rem;
    border-radius: 30px;
    color: white;

}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* ===============================Header=========================== */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;

}

.header__action--login,
.navbar__link {
    position: relative;
    color: #c9d2da;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link--active,
.header__action--login:hover,
.hero__cta--phone:hover,
.navbar__link:hover {
    color: white;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 78px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c9d2da;
}

.header__action--signup {
    min-width: 104px;
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 28px;
}

/* ===============================Hero=========================== */
.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    width: 56%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__cta {
    margin-top: 38px;
    display: flex;

    align-items: center;
    gap: 38px;
}

.hero__cta--phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;

}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
}

/* ===============================Service=========================== */
.service {
    padding: 170px 0;
}

.service__desc,
.service__heading {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 0 auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px;
    border-radius: 10px;
    background-color: white;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: white;
    background-color: #2e80ce;
}

.service-item__icon {
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.service-item__desc {
    color: #575F66;
    font-size: 1.6re, ;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}