* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-weight: 300;
}

/* ===============================COMMON========================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    background-color: #2e80ce;
    min-width: 205px;
    line-height: 60px;
    font-size: 1.8rem;
    border-radius: 30px;
    color: white;

}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.section-desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.67;

}

/* ===============================Header=========================== */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;

}

.header__action--login,
.navbar__link {
    position: relative;
    color: #c9d2da;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link--active,
.header__action--login:hover,
.hero__cta--phone:hover,
.navbar__link:hover {
    color: white;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 78px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c9d2da;
}

.header__action--signup {
    min-width: 104px;
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 28px;
}

/* ===============================Hero=========================== */
.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    width: 56%;
}

.hero__desc {
    margin-top: 22px;
}

.hero__cta {
    margin-top: 38px;
    display: flex;

    align-items: center;
    gap: 38px;
}

.hero__cta--phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;

}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;

}