* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    font-weight: 300;
}

/* ===============================COMMON========================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    display: inline-block;
    text-align: center;
    background-color: #2e80ce;
    min-width: 205px;
    line-height: 60px;
    font-size: 1.8rem;
    border-radius: 30px;
    color: white;

}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--header-bg);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    line-height: 1.67;
}

.control {
    display: flex;
    gap: 18px;
    align-items: center;
}

/* ===============================Header=========================== */
.header {
    padding-top: 30px;
    background-color: var(--header-bg);
    min-height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;

}

.header__action--login,
.navbar__link {
    position: relative;
    color: #c9d2da;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link--active,
.header__action--login:hover,
.hero__cta--phone:hover,
.navbar__link:hover {
    color: white;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 78px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c9d2da;
}

.header__action--signup {
    min-width: 104px;
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 28px;
}

/* ===============================Hero=========================== */
.hero {
    padding-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    width: 56%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__cta--phone {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;

}

.hero__images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large {
    width: 330px;
    height: 540px;
    margin-right: -6px;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
}

/* ===============================Service=========================== */
.service {
    padding: 170px 0;
}


.service__desc,
.service__heading {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 18px auto 0;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 21px;
    border-radius: 10px;
    background-color: white;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: white;
    background-color: #2e80ce;
}

.service-item__icon {
    background: #EFF6FD;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__heading {
    color: var(--header-bg);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.service-item__desc {
    color: #575F66;
    font-size: 1.6re, ;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* ===============================Work=========================== */
.work {
    background-color: #F6FBFF;
    padding: 100px 0 116px;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.work-item {
    padding: 43px;
    border-radius: 4px;
    background: white;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.work-item:hover {
    border-radius: 4px;
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 18px;
    color: var(--header-bg);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__btn {
    display: inline-block;
    margin-top: 18px;
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.work-item__btn:hover {
    color: #104475;
    font-weight: 900;
}

/* ===============================About=========================== */
.about {
    margin-top: 85px;
    padding: 85px 0;
}

.about__media {
    width: 49%;
}

.about__content {
    width: 40%;
}


.about__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about__images {
    display: flex;
    justify-content: flex-start;
}

.about__img {
    border-radius: 6px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.about__img--large {
    display: flex;
    width: 512px;
    height: 370px;
    object-fit: cover;
}

.about__img--small {
    width: 332px;
    height: 370px;
    margin-left: -274px;
    margin-top: 121px;
    object-fit: cover;
}

.about-content__btn {
    margin-top: 38px;
}

/* ===============================Team=========================== */
.team {
    padding: 85px 0;
}

.team__top {
    text-align: center;
    margin: 0 auto;
}

.team__btn {
    margin-top: 38px;
}

.team__list {
    margin-top: 70px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.team-item__img {
    padding-top: 28px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #EAF6FF;
}

.team-item__thumb {
    /* lý do thêm block là tại vì ảnh có background phía sau, phần dưới ảnh không sát vào background -> tại vì img là thẻ inline */
    display: block;
    height: 290px;
    object-fit: cover;
    transition: 0.5s;
}

.team-item__heading {
    margin-top: 12px;
    color: var(--header-bg);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.75;
}

.team-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
}


.team-item:hover .team-item__thumb {
    transform: scale(1.1);
}

.team__control {
    margin-top: 38px;
    justify-content: center;
}

.control__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #575F66;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition: 0.25s;
}

.control__btn:hover {
    color: white;
    background-color: #2E80CE;
    border-color: #2E80CE;
}

/* ===============================Install=========================== */
.install {
    padding: 180px 0;
}

.install__row {
    height: 427px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2E80CE;
    position: relative;
}

.install__img {
    width: 284px;
    height: 522px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
}

.install__content {
    width: 53%;
}

.install__heading {
    color: white;
    max-width: 489px;
}

.install__desc {
    margin-top: 18px;
    color: white;
    font-size: 1.8rem;
    line-height: 1.67;
}

.install__cta {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* ===============================BLog=========================== */
.blog {
    padding: 85px 0;
}

.blog__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.blog__content {
    width: 40%;
}

.blog__more {
    display: inline-block;
    margin-top: 28px;
    color: var(--header-bg);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    border-bottom: 2px solid currentColor;
}

.blog__control {
    margin-top: 28px;
}

.blog__list {
    display: flex;
    gap: 30px;

}

.blog-item {
    max-width: 270px;
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    overflow: hidden;
    transition: 0.25s;
}

.blog-item__thumb {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: 0.25s;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}

.blog-item:hover .blog-item__thumb {
    transform: scale(1.1);
}

.blog-item__img {
    overflow: hidden;
}

.blog-item__foot {
    padding: 22px;
}

.blog-item__heading {
    color: #064580;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.blog-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog-item__read {
    display: inline-block;
    margin-top: 12px;
    color: var(--header-bg);
    font-size: 1.4rem;
    font-weight: 400;
}

.blog-item:hover .blog-item__read {
    color: #2E80CE;
}

.blog-item__read:hover {
    color: #2E80CE;
}

/* ===============================Appointment=========================== */
.appointment {
    margin-top: 85px;
}

.appointment__inner {
    background: #F6FBFF;
    text-align: center;
    text-align: center;
    padding: 100px 178px;
}


.appointment__heading::after {
    content: '';
    width: 136px;
    height: 2px;
    background: #2E80CE;
    display: block;
    margin: 18px auto 0;
}

.appointment__desc {
    margin: 18px auto 0;
    max-width: 617px;
}

.appointment__btn {
    margin-top: 38px;
}

/* ===============================Footer=========================== */
.footer {
    margin-top: 170px;
    padding-top: 100px;
    background: #10375C;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
}

.footer__top {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 21px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer__list {
    margin: 20px 0 28px;
}

.footer__link {
    white-space: nowrap;
    color: #A9B3BB;
    font-weight: 400;
    line-height: 1.86;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    margin-top: 10px;
}

.footer__social {
    margin: 20px 0 28px;
    display: flex;
    gap: 10px;
}

.footer__social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #2E80CE;
}

.footer__social-btn:hover {
    color: white;
    background-color: #2E80CE;

}

.footer-form {
    margin-top: 10px;
    display: flex;
    column-gap: 12px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background-color: transparent;
    outline: none;
    color: white;
}

.footer-form__input::placeholder {
    color: #9CA8B1;
    font-weight: 400;
    line-height: 1.86;
}

.footer-form__submit {
    width: 108px;
    height: 46px;
    border-radius: 4px;
    background: #2E80CE;
    border: none;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    cursor: pointer;
}

.footer__bottom {
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    padding: 28px 0 42px;
    color: #AAB3BA;
    text-align: center;
    font-weight: 400;
    line-height: 1.86;
}